WebStartUp/Connected Services/kaspi.lab.CustomerService/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStartUp.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStartUp.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTerritoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerritoryDTO" nillable="true" type="tns:TerritoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerritoryDTO" nillable="true" type="tns:ArrayOfTerritoryDTO" />
  <xs:complexType name="TerritoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Territory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerritoryDTO" nillable="true" type="tns:TerritoryDTO" />
</xs:schema>