AdventureWorks2019 DB/Connected Services/CustomerService/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStartUp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStartUp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="territoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterViewModel" nillable="true" type="tns:RegisterViewModel" />
</xs:schema>